body{
    width: end;
}

.img-perfil{
    border-radius: 1000px;
    height: 230px;
    width: 250px;
}

#profile{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)), url('./public/img/Perfil-Img.jpg');
    height: 350px;
    color: white;
}

.row{
    justify-content: center;
}

.list{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.ability{
    border: 1px solid rgb(113, 107, 107);
    border-radius: 5px;
    height:250px;
    width: 200px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.ability h3{
    color: rgb(99, 103, 103);
}
.ability:hover{
    scale: 1.08;
}

.span-icon{
    
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
}

.span-icon img{
    height: 180px;
}

.course{
    width: 400px;
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(113, 107, 107);
    border-radius: 5px;
}

.proyect{
   
    padding: 10px;
    margin: 10px;
}

.button-card{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}
.button-card a{
    width: 120px;
    height: 40px;
}

.card img{  
    min-height: 210px;
}
.card-body{
    min-height: 215px;
}
.button-card{
    align-items: end;
}

.network{
    display: flex;
    margin: 10px;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 500px;
}


@media screen and (max-width:600px) {
    
#profile{
    height: 450px;
}

.ability{
    height:150px;
    width: 100px;
   
}
.span-icon img{
    height: 100px;

}
h3{
    font-size: 18px;
}
}